# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=dino_db
DB_USER=root
DB_PASS=

# Application
APP_PORT=3999
APP_NAME=Dino-Bill
NODE_ENV=development

# Session
SESSION_SECRET=super_secret_dino_key

# MikroTik Default
MIKROTIK_HOST=
MIKROTIK_USER=
MIKROTIK_PASS=
MIKROTIK_PORT=8728
